# Outliers Handling

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import statistics
import pandas as pd

In [4]:
df= pd.read_csv('Data/raw_sales.csv')
df.head()

              datesold  postcode   price propertyType  bedrooms
0  2007-02-07 00:00:00      2607  525000        house         4
1  2007-02-27 00:00:00      2906  290000        house         3
2  2007-03-07 00:00:00      2905  328000        house         3
3  2007-03-09 00:00:00      2905  380000        house         4
4  2007-03-21 00:00:00      2906  310000        house         3

#### 1. 3-Sigma Technique(Standard Deviation)

In [ ]:
#Function to detect outliers using 3-Sigma Technique on one-dimensional data
def detect_anomalies(data):
    anomalies=[]
    random_data_mean = statistics.mean(data) # miu
    random_data_std_dev = statistics.stdev(data) # sigma
    
    # Calculate the lower and upper bounds
    lower_bound = random_data_mean - 3 * random_data_std_dev # miu - 3*sigma
    upper_bound = random_data_mean + 3 * random_data_std_dev # miu + 3*sigma
    
    # Identify outliers
    for i in data:
        if i < lower_bound or i > upper_bound:
            anomalies.append(i)
    
    return anomalies