In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv('Data/Churn_Modelling.csv')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           9935 non-null   object
 6   Age              9929 non-null   float64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(3), int64(8), object(3)
memory usage: 1.1+ MB

## So there is some missing Values
*Gender* missing values = 65 |
*Age* missing values = 71

In [5]:
print(df.isnull().sum())
df.shape

RowNumber           0
CustomerId          0
Surname             0
CreditScore         0
Geography           0
Gender             65
Age                71
Tenure              0
Balance             0
NumOfProducts       0
HasCrCard           0
IsActiveMember      0
EstimatedSalary     0
Exited              0
dtype: int64

(10000, 14)

## Handling Missing Values
 **1. Deleting the columns with missing value**

In [6]:
updated_df= df.dropna(axis=1)
updated_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Tenure           10000 non-null  int64
 6   Balance          10000 non-null  float64
 7   NumOfProducts    10000 non-null  int64
 8   HasCrCard        10000 non-null  int64
 9   IsActiveMember   10000 non-null  int64
 10  EstimatedSalary  10000 non-null  float64
 11  Exited           10000 non-null  int64
dtypes: float64(2), int64(8), object(2)
memory usage: 937.6+ KB

### So two columns with missing values are dropped

In [7]:
updated_df.shape

(10000, 12)

The problem with this method is that we may lose valuable information on that feature, as we have deleted it completely due to some null values
It should be only used when there are too many null values

**2.Deleting the rows with missing Data**

In [10]:
updated_df=df.dropna(axis=0)
updated_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9883 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        9883 non-null   int64
 1   CustomerId       9883 non-null   int64
 2   Surname          9883 non-null   object
 3   CreditScore      9883 non-null   int64
 4   Geography        9883 non-null   object
 5   Gender           9883 non-null   object
 6   Age              9883 non-null   float64
 7   Tenure           9883 non-null   int64
 8   Balance          9883 non-null   float64
 9   NumOfProducts    9883 non-null   int64
 10  HasCrCard        9883 non-null   int64
 11  IsActiveMember   9883 non-null   int64
 12  EstimatedSalary  9883 non-null   float64
 13  Exited           9883 non-null   int64
dtypes: float64(3), int64(8), object(3)
memory usage: 1.1+ MB

In this case there are possibility of getting better results than before .This might be because the columns contain more valuable information than we expected..

### 3: Filling the Missing Values – Imputation

In this case, we will be filling the missing values with a certain number.

The possible ways to do this are:

- Filling the missing data with the mean or median value if it’s a numerical variable.
- Filling the missing data with mode if it’s a categorical value.
- Filling the numerical value with 0 or -999, or some other number that will not occur in the data.
  This can be done so that the machine can recognize that the data is not real or is different.
- Filling the categorical value with a new type for the missing values.