In [45]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import preprocessing

In [46]:
df= pd.read_csv('Data/Churn_Modelling.csv')

In [47]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           9935 non-null   object
 6   Age              9929 non-null   float64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(3), int64(8), object(3)
memory usage: 1.1+ MB

In [48]:
df.drop(columns=["CustomerId","Surname","CustomerId","RowNumber"],axis=1,inplace=True)

In [49]:
df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42.0,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41.0,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42.0,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,NaN,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43.0,2,125510.82,1,1,1,79084.10,0

In [50]:
df['Gender'].isnull().sum()

np.int64(65)

### Handling missing values

In [51]:
df.Gender.mode()

0    Male
Name: Gender, dtype: object

In [52]:

df['Gender']=df['Gender'].fillna('Male')

In [53]:
df['Gender'].isnull().sum()

np.int64(0)

In [54]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CreditScore      10000 non-null  int64
 1   Geography        10000 non-null  object
 2   Gender           10000 non-null  object
 3   Age              9929 non-null   float64
 4   Tenure           10000 non-null  int64
 5   Balance          10000 non-null  float64
 6   NumOfProducts    10000 non-null  int64
 7   HasCrCard        10000 non-null  int64
 8   IsActiveMember   10000 non-null  int64
 9   EstimatedSalary  10000 non-null  float64
 10  Exited           10000 non-null  int64
dtypes: float64(3), int64(6), object(2)
memory usage: 859.5+ KB

# Label Encoding

In [55]:
# label encoding
le = preprocessing.LabelEncoder()
df['Gender_lebel_encoded'] = le.fit_transform(df['Gender'])
df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Gender_lebel_encoded
0,619,France,Female,42.0,2,0.00,1,1,1,101348.88,1,0
1,608,Spain,Female,41.0,1,83807.86,1,0,1,112542.58,0,0
2,502,France,Female,42.0,8,159660.80,3,1,0,113931.57,1,0
3,699,France,Female,NaN,1,0.00,2,0,0,93826.63,0,0
4,850,Spain,Female,43.0,2,125510.82,1,1,1,79084.10,0,0

In [56]:
df.Gender_lebel_encoded.value_counts()

Gender_lebel_encoded
1    5489
0    4511
Name: count, dtype: int64

# Onehot encoding

In [57]:
# one hot encoding
one_hot_encoded = pd.get_dummies(df, columns=['Geography'])
one_hot_encoded

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Gender_lebel_encoded,Geography_France,Geography_Germany,Geography_Spain
0,619,Female,42.0,2,0.00,1,1,1,101348.88,1,0,True,False,False
1,608,Female,41.0,1,83807.86,1,0,1,112542.58,0,0,False,False,True
2,502,Female,42.0,8,159660.80,3,1,0,113931.57,1,0,True,False,False
3,699,Female,NaN,1,0.00,2,0,0,93826.63,0,0,True,False,False
4,850,Female,43.0,2,125510.82,1,1,1,79084.10,0,0,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,Male,39.0,5,0.00,2,1,0,96270.64,0,1,True,False,False
9996,516,Male,35.0,10,57369.61,1,1,1,101699.77,0,1,True,False,False
9997,709,Female,36.0,7,0.00,1,0,1,42085.58,1,0,True,False,False
9998,772,Male,42.0,3,75075.31,2,1,0,92888.52,1,1,False,True,False
9999,792,Female,28.0,4,130142.79,1,1,0,38190.78,0,0,True,False,False

In [58]:
df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Gender_lebel_encoded
0,619,France,Female,42.0,2,0.00,1,1,1,101348.88,1,0
1,608,Spain,Female,41.0,1,83807.86,1,0,1,112542.58,0,0
2,502,France,Female,42.0,8,159660.80,3,1,0,113931.57,1,0
3,699,France,Female,NaN,1,0.00,2,0,0,93826.63,0,0
4,850,Spain,Female,43.0,2,125510.82,1,1,1,79084.10,0,0

In [60]:
df_dummy = pd.get_dummies(df)
df_dummy.head()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Gender_lebel_encoded,Geography_France,Geography_Germany,Geography_Spain,Gender_Female,Gender_Male
0,619,42.0,2,0.00,1,1,1,101348.88,1,0,True,False,False,True,False
1,608,41.0,1,83807.86,1,0,1,112542.58,0,0,False,False,True,True,False
2,502,42.0,8,159660.80,3,1,0,113931.57,1,0,True,False,False,True,False
3,699,NaN,1,0.00,2,0,0,93826.63,0,0,True,False,False,True,False
4,850,43.0,2,125510.82,1,1,1,79084.10,0,0,False,False,True,True,False